useDynLib(RInSp, .registration = TRUE)

export(
import.RInSp,
sumMC.RInSp,
WTdMC,
WTcMC,
PSicalc,
pop.diet,
Eindex,
Emc,
overlap,
like.Wi,
NODF,
MCp.RInSp,
Null.Hp.RInSp,
RInSp2vegan,
Hier2L)

importFrom("grDevices", "nclass.Sturges")
importFrom("graphics", "hist", "legend", "segments")
importFrom("stats", "ecdf", "pchisq", "qchisq", "quantile", "rmultinom", "var")
importFrom("utils", "read.table")
